[Desktop Entry]
Name=Slides
Comment=Create and present slideshows
Exec=singularity-slides %U
Icon=dev.sinty.slides
Terminal=false
Type=Application
Categories=Office;Presentation;
MimeType=application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;
Keywords=presentation;slides;slideshow;powerpoint;keynote;impress;pptx;odp;deck;
StartupWMClass=dev.sinty.slides
X-Singularity-Dock-Recent=true
Actions=new-presentation;

[Desktop Action new-presentation]
Name=New Presentation
Exec=singularity-slides --new
